<!DOCTYPE html>
<html>
  <title>Sleep Flower</title>
  <head>
<!--     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/styles/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="/javascript/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/javascript/materialize.min.js"></script>
    <script type="text/javascript" src="/javascript/store.min.js"></script>
    <script type="text/javascript" src="/javascript/store_id.js"></script>
    <script type="text/javascript" src="/javascript/log_in.js"></script>
    <script type="text/javascript" src="/javascript/logout.js"></script>
    <script type="text/javascript" src="/javascript/get_flower.js"></script>
    <script type="text/javascript" src="/javascript/get_score.js"></script>
    <script type="text/javascript" src="/javascript/get_data.js"></script>
    <script type="text/javascript" src="/javascript/tabletop.js"></script>

  </head>
  <body>
    <!-- Sign in with Facebook Page -->
    <script>
      // This function is called when someone finishes with the Login Button.

      // function checkLoginState() {
      //   FB.getLoginStatus();
      // }

      // function catedorizeData(sheetsEntry){
      //   var categorized = [];
      //   for(var i = 0; i<sheetsEntry.length; i++){
      //     var dataCol = sheetsEntry[i].gs$cell.col;
      //     var dataRow = sheetsEntry[i].gs$cell.row;

      //     if(dataCol == 1 && dataRow != sheetsEntry[i+1].gs$cell.row){
      //       categorized[categorized.length] = [];
      //     }
      //     categorized[categorized.length-1] = sheetsEntry[i];
      //   }
      //   return categorized;
      // }

      // function renderForm(categorized){
      //   var target = $('.formSubmit');
      //   categorized.forEach(function(areaCats){
      //     target.before('<h2>'+areaCats[0].gs$cell.$t+'</h2>');
      //     target.before('<dl>');
      //     for(var i = 1; i<areaCats.length; i+=2){
      //       target.before('<dt><label><input name="cats" type="checkbox" />'+areaCats[i].gs$cell.$t+'</label></dt>');
      //       target.before('<dd>原産地：'+areaCats[i+1].gs$cell.$t+'</dd>');
      //     }
      //     target.before('</dl>');
      //   });
      // }

      // window.fbAsyncInit = function() {
      // FB.init({
      //   appId      : '860450624074844',
      //   cookie     : true,  // enable cookies to allow the server to access
      //                       // the session
      //   xfbml      : true,  // parse social plugins on this page
      //   version    : 'v2.5' // use version 2.2
      // });

      // FB.getLoginStatus(function(response) {
      //   if (response.authResponse) {
      //         fbUserId = response.authResponse.userID;
      //         token = response.authResponse.accessToken;
      //         $('.setting').show();
      //         // render_friends();
      //         checkCallback();
      //     }
      //     else {
      //         $('#facebook_oauth').show();
      //         FB.login(function(response) {
      //             if (response.authResponse) {
      //                 fbUserId = response.authResponse.userID;
      //                 token = response.authResponse.accessToken;
      //                 $('.setting').show();
      //                 render_friends();
      //                 checkCallback();
      //             }
      //             else {
      //                  console.log('User cancelled login or did not fully authorize.');
      //             }
      //         }, {scope: 'user_friends'});
      //     }
      //   },true);
      // };

      // // Load the SDK asynchronously
      // (function(d, s, id) {
      //   var js, fjs = d.getElementsByTagName(s)[0];
      //   if (d.getElementById(id)) return;
      //   js = d.createElement(s); js.id = id;
      //   js.src = "//connect.facebook.net/en_US/sdk.js";
      //   fjs.parentNode.insertBefore(js, fjs);
      // }(document, 'script', 'facebook-jssdk'));

      // function checkCallback() {
      //   console.log('Welcome!  Fetching your information.... ');
      //   FB.api('/me', function(response) {
      //     console.log('Successful login for: ' + response.name);
      //     store.set('name', name)
      //   });
      // }

    </script>

    <div class="setting">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo" id="satomi-custom">Sleep Flower</a>
        </div>
      </nav>
<!--
      <div class="default">
        <a href="/friends/?id=default">Default for All Friends</a>
      </div> -->

      <div id="register_form">
        idを入力して下さい。
        <form id="form_user_id" action="/path/to/post" method="post">
          <input id="user_id" type="text" name="user_id" />
          <input id="register" type='button' value='Register User ID'>
        </form>
        <script type="text/javascript">
          $(function () {
            $('#register').on('click', function () {
              console.log("register clicked");
              var user_id = $('#user_id').val();
              store_id(user_id);

              if (store.get("user_id")) {
                log_in();
              }
            });
          });
        </script>
      </div>

      <div id="header" style="display: none; text-align:right">
        <span id="login_info">
        </span>
        <script type="text/javascript">
          if (store.get("user_id")) {
            log_in();
          } else {
            document.getElementById("register_form").style.display="blocks";
          }
        </script>
        <input id="logout" type='button' value='Log out'>
        <script type="text/javascript">
          $(function () {
              $('#logout').on('click', function () {
                  console.log("logout clicked");
                  log_out();
              });
          });
        </script>

        <div id="flower" style="text-align:center">
          <script type="text/javascript">
            var id = store.get("user_id");

            // $.ajax({
            //   type: 'GET',
            //   url: 'https://spreadsheets.google.com/feeds/cells/1ppY0X-YGRcAtRLn-9m8cM4Et_Hy2kRvMua5teoTcliM/ojc2tyx/public/values?alt=json',
            //   dataType: 'jsonp',
            //   cache: false,
            //   success: function(data){ // 通信が成功した時
            //     var sheetsEntry = data.feed.entry; // 実データ部分を取得
            //     console.log(sheetsEntry);
            //     // for(var i = 0; i<sheetsEntry.length; i++){
            //     //   var dataCol = sheetsEntry[i].gs$cell.col;
            //     //   var dataRow = sheetsEntry[i].gs$cell.row;

            //     // categorized = catedorizeData(sheetsEntry); // データを整形して配列で返す
            //     // renderForm(categorized); // レンダリング用の関数を呼ぶ
            //   },
            //   error: function(){ // 通信が失敗した時
            //     console.log('error get from google spreadsheet');
            //   }
            // });
            init();
            var score = (get_score(id) || 80);
            console.log("score:", score);
            get_flower(score);
          </script>
        </div>
      </div>


<!--       <div class="formSubmit">
        <a href="/friends/?id=default">JSON Result</a>
      </div> -->
    </div>
  </body>
</html>
