* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  overflow: scroll;
  background-color: #E6E6E6;
}

@font-face {
  font-family: 'njnaruto';
  src: url('/font/njnaruto.woff') format('woff');
  src: url('/font/njnaruto.ttf') format('truetype');
}

h1 {
  font-family: 'njnaruto';
}
h1 img {
  width: 60px;
  height: 60px;
}

h3 {
  font-family: "Merriweather", "Roboto", sans-serif;
  margin-top: 15px;
}
h3 img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

select {
  width: auto!important;
}

.title {
  font-size: 40px;
}

.setting {
  font-size: 20px;
}

#add_team_notification {
  color: red;
  font-size: 15px;
}

.team {
  margin: 12px 0;
}

#teams li {
  list-style: none;
  font-size: 23px;
}

.url {
  color: #26a69a;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 2px;
  border: solid 1px #CCC;
}

#gw > div {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
}

.introduction ol {
  font-size: 20px;
  list-style-type: lower-roman;
/*  text-align: left;
  margin-left: 170px;*/
}

.minimum_list li{
  font-size: 16px;
  list-style-type: decimal;
/*  margin-left: -90px;*/
}